body{
  margin: 0;
  padding: 0;
  background-color: red;
}

h1 {
  color: red;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	font-size: 22px;
	text-shadow: 2px 2px 1px lightgrey;
}

h3{
  margin: 20px 0 0 0;
  padding: 0 0 0 8px;
}

p {
  color: grey;
}

.information {
	position: fixed;
	margin-top: 5%;
	margin-left: 85%;
	width: 10%;
}

.information table{
	border: 1px solid #D3D3D3;
	border-radius: 10px;
	background-color: white;
	box-shadow: 5px 10px 10px #888888;
	width: 100%;
	height: auto;
}

.information tr{
	border-bottom: 1px solid #D3D3D3;
}

.information ol {
	padding: 25px;
	margin: 0;
}

.text-content {
  border-radius: 10px;
  background-color: white;
  margin: 5% 20% 5% 5%;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  box-shadow: 10px 10px 10px #888888;
  align-items:center;
}

.code-snippet {
  background-color: darkgrey;
  padding:1%;
  width: 90%;
  border-radius: 10px;
  color: red;
}

xmp {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  overflow: auto;
  width: auto;
  padding: 5px;
  padding-bottom: 20px;
  max-height: 600px;
}

xmp::-webkit-scrollbar {
    display: none;
}

.xmp {
  color: blue;
}
