body{
  margin: 0;
  padding: 0;
  background-color: red;
}

h1 {
  color: red;
}

h3{
  margin: 20px 0 0 0;
  padding: 0 0 0 8  px;
}

p {
  color: grey;
}

.text-content {
  border-radius: 10px;
  background-color: white;
  margin: 5% 10%;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  align-items:center;
}

.code-snippet {
  background-color: darkgrey;
  padding:1%;
  width: 90%;
  border-radius: 10px;
  color: red;
}

xmp {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  overflow: auto;
  width: auto;
  padding: 5px;
  width: 650px!ie7;
  padding-bottom: 20px!ie7;
  max-height: 600px;
}

xmp::-webkit-scrollbar {
    display: none;
}

.xmp {
  color: blue;
}
