@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background-color: lightgrey;
	font-size: 32px;
}

h1 {
	text-transform: uppercase;
	color: red;
	font-size: 78px;
	text-align: center;
}

.parallax {
	font-size: 200%;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
	text-align: center;
	}

.parallax__layer {
	padding: 100vh 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
	  transform: translateZ(0);
	}

.parallax__layer--back {
	  transform: translateZ(-1px);
	}

.parallax__layer--deep {
	    -webkit-transform: translateZ(-10px) scale(3);
	    transform: translateZ(-10px) scale(3);
	    z-index: 2;
	}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

#group1 {
	z-index: 5;
}

#group2 {
	z-index: 3;
}
#group3 {
	z-index: 4;
}
#group4 {
	z-index: 2;
}
#group5 {
	z-index: 3;
}
#group6 {
	z-index: 2;
}
#group7 {
	z-index: 2;
}

#table-rating th h1 {
	font-size: 32px;
	text-align: center;
	color: red;
}

#table-rating h1 {
	font-size: 32px;
	text-align: center;
	color: gold;
	margin: 0 1em;
}

#table-rating h2 {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 1em;
}

#table-rating {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
	margin: 0 20% 10%;
	border: 1px solid gold;
}

#table-rating td, #table-rating th {
    border-bottom: 1px solid gold;
	border-top: 1px solid gold;
    padding: 1px;
}

#table-rating tr:nth-child(even){
	background-color: #f2f2f2;
	opacity: 0.8;
}

#table-rating tr:nth-child(odd){
	background-color: transparent;
	color: red;
	opacity: 0.8;
}

#table-rating tr:hover {
	background-color: indigo;
	opacity: 0.8;
}

#table-rating th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gold;
    color: white;
}
