@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background-color: lightgrey;
	font-size: 32px;
}

h1 {
	text-transform: uppercase;
	color: gold;
	font-size: 78px;
	text-align: center;
}

h3 {
	text-transform: uppercase;
	color: gold;
	font-size: 32px;
	text-align: center;
}

.parallax {
	font-size: 200%;
  	perspective: 1px;
  	height: 100vh;
 	overflow-x: hidden;
  	overflow-y: auto;
	text-align: center;
}

.parallax__layer {
  	padding: 96vh 0;
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
}

.parallax__layer--base {
	  transform: translateZ(0);
}

.parallax__layer--back {
	transform: translateZ(-1px);
	left: -55%;
	top: -110%;
}

.parallax__layer--back img{
	width: 135%;
	position: relative;
	height: auto;
	align-items: center;
}

.parallax__layer--deep {
	transform: translateZ(-2px) scale(3);
	position: absolute;
	left: -1%;
	width: 101%;
	background-image: url(../Pictures/Background/BackGround-LayerDeep.png);
}

.parallax__group {
  position: relative;
  height: 125vh;
  transform-style: preserve-3d;
}

#group1{
	z-index: 1;
}
#group2{
	z-index: 2;
	top: 260%;
}
#group3{
	z-index: 2;
	top: 560%;
}

#table-rating th h1{
	font-size: 32px;
	text-align: center;
	color: red;
}

#table-rating h1 {
	font-size: 32px;
	text-align: center;
	color: gold;
	margin: 0 1em;
}

#table-rating h2 {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 1em;
}

#table-rating {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
	margin: 0 10% 10%;
	border: 1px solid gold;
}

#table-rating td, #table-rating th {
    border-bottom: 1px solid gold;
	border-top: 1px solid gold;
    padding: 1px;
}

#table-rating tr:nth-child(even){
	background-color: #f2f2f2;
	opacity: 0.8;
}

#table-rating tr:nth-child(odd){
	background-color: transparent;
	color: red;
	opacity: 0.8;
}

#table-rating tr:hover {
	background-color: indigo;
	opacity: 0.8;
}

#table-rating th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gold;
    color: white;
}

.music table{
	padding: 0;
}

.music tr:nth-child(odd){
	background-color: hsla(55, 100%, 50%, 0.61);
}

.music tr:nth-child(even){
	background-color: hsla(105, 100%, 50%, 0.61);
}
